<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PHP MVC</title>
</head>
<body>
  <h1 class="title">
    Bem vindo ao PHP Template
  </h1>
  <h2>Calculadora</h2>
  <ul>
    <li>
      Somar 1 + 1 = {{ sum }}
    </li>
    <li>
      Subtrair 1 - 1 = {{ sub }}
    </li>
    <li>
      Multiplicar 1 * 1 = {{ mult }}
    </li>
  </ul>
</body>
</html>